__pycache__/
*.py[cod]
*$py.class
*.so
.ropeproject
*.pyc
.idea
.DS_Store
*.log
*.out
config.py
.cache
/appapi/.settings
/appapi/.env.local
/appapi/.env.testing
/appapi/.env.api.sdk.com
/appapi/config/api.sdk.com
